<script src="https://cdn.jsdelivr.net/npm/live2d-render@0.0.5/bundle.js"></script>
<script>
  if (window.innerWidth >= 768) {
    Live2dRender.initializeLive2D({
      BackgroundRGBA: [0.0, 0.0, 0.0, 0.0],
      ResourcesPath: "./fense.model3.json",
      CanvasSize: { height: 400, width: 400 },
      ShowToolBox: false,
      LoadFromCache: true,
    });
  }
</script>
